body {
    font-family: sans-serif;
    font-size: small;
    background: url(noise.png) #444;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    max-width: 1200px;
    border-spacing: 0;
    box-shadow: 0px 0px 1px #444;
    margin-bottom: 10px;
}

.loading {
    background: #6A7B86;
    padding: 7px;
    color: #fff;
    margin-bottom: 10px;
    width: calc(100% - 14px);
    max-width: 1186px;
}

.header {
    background-color: #6A7B86;
    background-image: linear-gradient(#6A7B86, #424F5A);
    padding: 7px;
    width: calc(100% - 14px);
    max-width: 1186px;
}

.header .title {
    color: #fff;
    font-weight: bold;
    font-size: large;
}

.header .count {
    color: #fff;
    padding-left: 5px;
}

.header .subtitle {
    color: #ddd;
    padding-left: 20px;
}

thead, tbody {
    background: #fff;
}

thead th, tbody th, tbody td {
    padding: 5px 10px;
}

thead th {
    border-bottom: 1px solid #ddd;
    text-align: left;
    cursor: pointer;
}

thead th.sorting-asc, thead th.sorting-desc {
    text-decoration: underline;
}

thead th.wide {
    width: 100%;
}

tbody tr:nth-child(even) {
    background: #eee;
}

tr.bug:hover {
    outline: 1px dotted #444;
}

.id {
    text-align: right;
}

.summary {
    width: 100%;
}

.duration {
    white-space: nowrap;
    text-align: right;
}

.component {
    white-space: nowrap;
}

.person {
    white-space: nowrap;
}

#annotation, #annotation a {
    color: #aaa;
}

.tally td {
    text-align: right;
    padding-right: 2em;
}

.tally td.excessive a {
    border-bottom: 1px solid red;
}
